@charset "UTF-8";
/*
0 - 600px: phone
600 - 900: tablet portrait
900 - 1200px: tablet landscape
1200 - 1800px: desktop
1800 - 2560px: desktop HD
2560 et +: desktop 4K
*/
/*
Argument $device choice:
tab-port : definit la structure tablette portrait
tab-port-big
tab-land
desktop
desktophd
desktop4k
*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
/* font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive; */
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

/*Mini Reset*/
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/*Règles globales*/
html {
  font-size: 16px;
}

@media screen and (min-width: 1023px) and (orientation: portrait) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1800px) and (max-width: 2560px) {
  html {
    font-size: 22px;
  }
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 40px;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: bolder;
}

h3 {
  font-weight: bold;
  font-size: 1.1rem;
}

/*Règles spécicfiques page d'accueil*/
.body__index {
  width: 100%;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .body__index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    min-height: 100vh;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .body__index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 100vh;
  }
}

/*Loader*/
.loader {
  -webkit-animation: loader_opacity 3s forwards;
          animation: loader_opacity 3s forwards;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2rem;
  font-family: 'Shrikhand', cursive;
  z-index: -1;
}

.loader__assiette {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #f1f1f1;
  -webkit-box-shadow: inset 0.4rem -0.2rem 1rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0.4rem -0.2rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.loader__assiette:after {
  content: '';
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: white 3px solid;
  -webkit-box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, right top, from(#9356DC), color-stop(#99E2D0), to(#FF79DA));
  background: linear-gradient(0.25turn, #9356DC, #99E2D0, #FF79DA);
  z-index: -2;
  -webkit-animation: loader_anim 3s;
          animation: loader_anim 3s;
}

.loader__assiette:before {
  content: '';
  position: absolute;
  top: 0rem;
  left: 0rem;
  bottom: 0rem;
  right: 0rem;
  border-radius: 50%;
  border: #FFF 10px solid;
  z-index: 0;
  opacity: 1;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.loader__txt {
  margin-top: 8rem;
  color: #9356DC;
  background: #FFF;
  position: relative;
}

.loader__fork {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 8rem;
  margin-bottom: 9.5rem;
  z-index: -3;
  color: #303030;
}

.loader__forkFG {
  -webkit-animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.loader__forkFD {
  padding-right: 0.5rem;
  -webkit-animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

/*Header - Cacher la flèce retour à l'acceuil*/
.cache {
  display: none;
}

/*Style Formulaire page d'accueil*/
.conteneur-form {
  margin: 0;
  padding: 0 0 3rem 0;
  background: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .conteneur-form {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 4rem 4rem 0 0;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-form {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 30%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3rem 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 4rem 0 0 0;
  }
}

.conteneur-form__bloc-input {
  width: 100%;
  height: 3rem;
  background: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .conteneur-form__bloc-input {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 50%;
    border-radius: 2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-form__bloc-input {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 80%;
    border-radius: 2rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.conteneur-form__bloc-input label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .conteneur-form__bloc-input label {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-form__bloc-input label {
    padding-left: 1rem;
  }
}

.conteneur-form__bloc-input__input {
  width: 65%;
  border: none;
  background: #EAEAEA;
  outline: none;
  color: black;
  font-size: 1.2rem;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .conteneur-form__bloc-input__input {
    border-radius: 2rem;
  }
}

.conteneur-form h2 {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .conteneur-form h2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-form h2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin-top: 0;
  }
}

.conteneur-form p {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .conteneur-form p {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-form p {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.conteneur-form button {
  margin-top: 2rem;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .conteneur-form button {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 0;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-form button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 2rem;
    margin-bottom: 8rem;
  }
}

/*Style Nav Fonctionnement*/
.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .fonctionnement {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .fonctionnement {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 1rem 2rem;
  }
}

.fonctionnement h2 {
  margin-top: 2rem;
  margin-bottom: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .fonctionnement h2 {
    margin-top: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .fonctionnement h2 {
    margin-top: 0;
    width: 20%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.fonctionnement__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
  border-radius: 1.5rem;
  width: 97%;
  padding: 1.5rem 0;
  margin-top: 1rem;
  -webkit-box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: #000;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .fonctionnement__btn {
    width: 30%;
    padding: 0 1rem 0 0;
    height: 3.5rem;
    text-align: center;
    margin-top: 0;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .fonctionnement__btn {
    width: 23%;
    padding: 0 1rem 0 0;
    height: 3.5rem;
    text-align: center;
    margin-top: 0;
  }
}

.fonctionnement__btn:hover {
  -webkit-box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  background: #F5EDFF;
}

.fonctionnement__btn--num {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.9rem;
  background: #9356DC;
  border-radius: 50%;
  color: white;
  margin-left: -0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .fonctionnement__btn--num {
    margin-left: -0.5rem;
  }
}

.fonctionnement__btn--icone {
  margin-left: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
}

.fonctionnement__btn--texte {
  margin-left: 1.5rem;
  font-weight: 600;
}

/*Style Section Restaurant*/
.restaurants {
  position: relative;
  width: 100%;
  background: #F6F6F6;
  margin-top: 4rem;
  padding: 5% 5%;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .restaurants {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    margin-top: 0;
    padding: 0 1rem 1rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .restaurants {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 70%;
    margin-top: 0;
    padding: 1rem 1rem 1rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 0 4rem 0 0;
  }
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .restaurants h2 {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .restaurants h2 {
    width: 100%;
    text-align: center;
  }
}

.restaurants a {
  text-decoration: none;
  color: black;
}

.restaurants__card {
  margin: 1.3rem 0;
  position: relative;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .restaurants__card {
    width: 45%;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .restaurants__card {
    width: 45%;
  }
}

.restaurants__card__img {
  width: 100%;
  height: 11rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .restaurants__card__img {
    height: 15rem;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .restaurants__card__img {
    height: 9rem;
  }
}

.restaurants__card__nouveau {
  font-size: 0.8rem;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 5px 10px;
  border-radius: 3px;
  background: #99E2D0;
  color: #299077;
}

.restaurants__card__caption {
  padding: 0 1.5rem;
  height: 4rem;
  background-color: #FFFFFF;
  border-radius: 0 0 1rem 1rem;
  margin-top: -3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.restaurants__card__caption h3 {
  height: 35%;
}

.restaurants__card__caption p {
  height: 50%;
}

/*Body*/
.body__resto {
  width: 100%;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .body__resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
  }
  .body__resto--1 {
    background: no-repeat center url("../images/restaurants/resto1-ultra.jpg");
  }
  .body__resto--2 {
    background: no-repeat center url("../images/restaurants/resto2-ultra.jpg");
  }
  .body__resto--3 {
    background: no-repeat center url("../images/restaurants/resto3-ultra.jpg");
  }
  .body__resto--4 {
    background: no-repeat center url("../images/restaurants/resto4-ultra.jpg");
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .body__resto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
  }
  .body__resto--1 {
    background: no-repeat center url("../images/restaurants/resto1-ultra.jpg");
    background-size: cover;
  }
  .body__resto--2 {
    background: no-repeat center url("../images/restaurants/resto2-ultra.jpg");
    background-size: cover;
  }
  .body__resto--3 {
    background: no-repeat center url("../images/restaurants/resto3-ultra.jpg");
    background-size: cover;
  }
  .body__resto--4 {
    background: no-repeat center url("../images/restaurants/resto4-ultra.jpg");
    background-size: cover;
  }
}

/*Image page resto*/
.resto-img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .resto-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: none;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .resto-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: none;
  }
}

/*Style titre resto */
.conteneur-titre-resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem 1rem 0rem 1rem;
  margin-top: -4rem;
  position: -webkit-sticky;
  position: sticky;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .conteneur-titre-resto {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    background: none;
    background: rgba(246, 246, 246, 0.5);
    padding: 1.5rem 0 1rem 0;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-titre-resto {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    border-radius: 0;
    margin-top: 0;
    background: none;
    background: rgba(246, 246, 246, 0.5);
    padding: 1.5rem 0 0.5rem 0;
  }
}

.conteneur-titre-resto h2 {
  font-family: 'Shrikhand', cursive;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .conteneur-titre-resto h2 {
    margin-left: 10%;
    padding-right: 3rem;
    padding-bottom: 1rem;
    border-bottom: #99E2D0 solid 0.2rem;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-titre-resto h2 {
    margin-left: 10%;
  }
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .conteneur-titre-resto label {
    margin-right: 10%;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-titre-resto label {
    margin-right: 10%;
  }
}

/*Style Section */
.conteneur-resto {
  background: #F6F6F6;
  padding: 1rem 1rem 4rem 1rem;
  position: relative;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .conteneur-resto {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0;
    background: rgba(246, 246, 246, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-resto {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0;
    background: rgba(246, 246, 246, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.conteneur-resto form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .conteneur-resto form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    padding: 2rem 2rem;
    border: #99E2D0 solid 2px;
    border-radius: 2rem 2rem 70% 2rem;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-resto form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 98%;
    padding: 0 1rem 1rem 1rem;
    margin-bottom: 1rem;
    border: #99E2D0 solid 2px;
    border-radius: 2rem 2rem 20% 20%;
  }
}

.conteneur-resto__titre {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-resto__titre {
    width: 100%;
  }
}

.conteneur-resto__btn {
  margin-top: 3rem;
  width: 10rem;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .conteneur-resto__btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-resto__btn {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 2rem;
  }
}

.conteneur-entree, .conteneur-plats, .conteneur-desserts {
  padding-top: 2.5rem;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .conteneur-entree, .conteneur-plats, .conteneur-desserts {
    width: 45%;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-entree, .conteneur-plats, .conteneur-desserts {
    width: 95%;
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

/*Element vert sous Entrees, Plats, Desserts */
.conteneur-resto__titre::after {
  content: '';
  position: absolute;
  background: #99E2D0;
  width: 2.5rem;
  height: 0.2rem;
  top: 4rem;
  left: 0;
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .conteneur-resto__titre::after {
    top: 2.6rem;
  }
}

/*Inputs 1 à 9 des pages resto cachées, attention à input page d'acceuil */
#input1-resto {
  position: absolute;
  left: -9999px;
}

#input2-resto {
  position: absolute;
  left: -9999px;
}

#input3-resto {
  position: absolute;
  left: -9999px;
}

#input4-resto {
  position: absolute;
  left: -9999px;
}

#input5-resto {
  position: absolute;
  left: -9999px;
}

#input6-resto {
  position: absolute;
  left: -9999px;
}

#input7-resto {
  position: absolute;
  left: -9999px;
}

#input8-resto {
  position: absolute;
  left: -9999px;
}

#input9-resto {
  position: absolute;
  left: -9999px;
}

#input10-resto {
  position: absolute;
  left: -9999px;
}

/*la balise label recouvre toute la div*/
.label--position {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*Chaque bloc est un label conteneur flex */
.label__conteneur {
  position: relative;
  height: 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #FFF;
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 1rem;
  -webkit-box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .label__conteneur {
    background: rgba(255, 255, 255, 0.4);
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  .label__conteneur {
    background: rgba(255, 255, 255, 0.4);
    width: 30%;
    margin-top: 0;
  }
}

.label__conteneur:hover {
  -webkit-box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
}

/*Style des éléments enfants du conteneur label
Attention, le conteneur est une div, la balise label est positionnée
en absolute sur tout le conteneur */
.label__titre {
  height: 100%;
  width: 80%;
  padding-left: 1rem;
  -webkit-transition: width 500ms ease;
  transition: width 500ms ease;
}

.label__titreh3 {
  height: 50%;
  padding-top: 1rem;
  white-space: nowrap;
}

.label__titrep {
  height: 50%;
  padding-top: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

.label__prix {
  width: 20%;
  height: 50%;
  padding-top: 0.5rem;
  padding-right: 1rem;
  text-align: right;
}

.label__coche {
  width: 0;
  height: 100%;
  background: #99E2D0;
  border-radius: 0 1rem 1rem 0;
  -webkit-transition: width 500ms ease;
  transition: width 500ms ease;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.label__coche::after {
  position: absolute;
  text-align: center;
  content: '\f058';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #FFF;
  font-size: 1.5rem;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
  transition: opacity 0.5s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 0.5s ease;
  transition: transform 1s ease, opacity 0.5s ease, -webkit-transform 1s ease;
}

header {
  position: relative;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  -webkit-box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
  background: #FFF;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-top: 0;
    padding-top: 0.25rem;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  header {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin-top: 0;
    padding-top: 0.25rem;
  }
}

header h1 {
  text-align: center;
  font-size: 2rem;
}

header a {
  position: absolute;
  top: 25%;
  left: 5%;
  text-decoration: none;
  color: black;
}

footer {
  background: #353535;
  color: white;
  padding: 1.5rem 0 2rem 2rem;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  footer {
    padding: 0.5rem 0 0.5rem 0;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 100%;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  footer {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
  }
}

footer .footer__logo {
  margin-bottom: 1rem;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  footer .footer__logo {
    text-align: center;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  footer .footer__logo {
    text-align: center;
  }
}

footer p {
  font-family: 'Shrikhand', cursive;
  font-size: 1.2rem;
  margin-top: 0;
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  footer p {
    display: none;
  }
}

footer a {
  text-decoration: none;
  color: white;
}

footer ul {
  padding: 0;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer li {
  list-style: none;
  margin-top: 0.5rem;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  footer li {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1023px) and (orientation: landscape) {
  footer li {
    margin-left: 2rem;
  }
}

footer .footer__icon:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: white;
  width: 1.8rem;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  footer .icon1 {
    margin-left: 0;
  }
}

footer .icon1:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f2e7";
}

footer .icon2:before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f4c4";
}

button {
  border: none;
  border-radius: 2rem;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  font-size: 0.9rem;
  padding: 1rem 1.2rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}

button:hover {
  -webkit-box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-box-shadow 300ms;
  transition: -webkit-box-shadow 300ms;
  transition: box-shadow 300ms;
  transition: box-shadow 300ms, -webkit-box-shadow 300ms;
  background: -webkit-gradient(linear, left top, right bottom, from(#ff8de0), to(#9e67e0));
  background: linear-gradient(to bottom right, #ff8de0, #9e67e0);
}

/*Style icones favori page INDEX*/
/*Cache les checkbox*/
#fav1 {
  position: absolute;
  left: -9999px;
}

#fav2 {
  position: absolute;
  left: -9999px;
}

#fav3 {
  position: absolute;
  left: -9999px;
}

#fav4 {
  position: absolute;
  left: -9999px;
}

.label__fav1--accueil {
  font-size: 1.4rem;
  position: absolute;
  top: 80%;
  right: 10%;
  color: black;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .label__fav1--accueil {
    top: 84%;
  }
}

.label__fav1--resto {
  font-size: 1.4rem;
  color: black;
  position: relative;
}

.label__fav1--accueil::after, .label__fav1--resto::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #9356DC;
  content: "\f004";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  z-index: 1;
}

.label__fav2--accueil {
  font-size: 1.4rem;
  position: absolute;
  top: 80%;
  right: 10%;
  color: black;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .label__fav2--accueil {
    top: 84%;
  }
}

.label__fav2--resto {
  font-size: 1.4rem;
  color: black;
  position: relative;
}

.label__fav2--accueil::after, .label__fav2--resto::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #9356DC;
  content: "\f004";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  z-index: 1;
}

.label__fav3--accueil {
  font-size: 1.4rem;
  position: absolute;
  top: 80%;
  right: 10%;
  color: black;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .label__fav3--accueil {
    top: 84%;
  }
}

.label__fav3--resto {
  font-size: 1.4rem;
  color: black;
  position: relative;
}

.label__fav3--accueil::after, .label__fav3--resto::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #9356DC;
  content: "\f004";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  z-index: 1;
}

.label__fav4--accueil {
  font-size: 1.4rem;
  position: absolute;
  top: 80%;
  right: 10%;
  color: black;
}

@media screen and (min-width: 767px) and (orientation: portrait) {
  .label__fav4--accueil {
    top: 84%;
  }
}

.label__fav4--resto {
  font-size: 1.4rem;
  color: black;
  position: relative;
}

.label__fav4--accueil::after, .label__fav4--resto::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: #9356DC;
  content: "\f004";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
  z-index: 1;
}

/*Action lors du clic sue le coeur*/
#fav1:checked + .label__fav1--accueil i, #fav1:checked + .label__fav1--resto i {
  opacity: 0;
}

#fav1:checked + .label__fav1--accueil::after, #fav1:checked + .label__fav1--resto::after {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#fav2:checked + .label__fav2--accueil i, #fav2:checked + .label__fav2--resto i {
  opacity: 0;
}

#fav2:checked + .label__fav2--accueil::after, #fav2:checked + .label__fav2--resto::after {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#fav3:checked + .label__fav3--accueil i, #fav3:checked + .label__fav3--resto i {
  opacity: 0;
}

#fav3:checked + .label__fav3--accueil::after, #fav3:checked + .label__fav3--resto::after {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#fav4:checked + .label__fav4--accueil i, #fav4:checked + .label__fav4--resto i {
  opacity: 0;
}

#fav4:checked + .label__fav4--accueil::after, #fav4:checked + .label__fav4--resto::after {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 1px, 0);
            transform: translate3d(-1px, 1px, 0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, -1px, 0);
            transform: translate3d(-4px, -1px, 0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 1px, 0);
            transform: translate3d(-1px, 1px, 0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, -1px, 0);
            transform: translate3d(-4px, -1px, 0);
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
}

@-webkit-keyframes loader_anim {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader_anim {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader_opacity {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loader_opacity {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*Delay apparition contenu de la page*/
.delay {
  -webkit-animation: delay 3s;
          animation: delay 3s;
}

@-webkit-keyframes delay {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delay {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.anim1 {
  -webkit-animation: apparition 1s backwards;
          animation: apparition 1s backwards;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.anim2 {
  -webkit-animation: apparition 1s backwards;
          animation: apparition 1s backwards;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.anim3 {
  -webkit-animation: apparition 1s backwards;
          animation: apparition 1s backwards;
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}

.anim4 {
  -webkit-animation: apparition 1s backwards;
          animation: apparition 1s backwards;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.anim5 {
  -webkit-animation: apparition 1s backwards;
          animation: apparition 1s backwards;
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.anim6 {
  -webkit-animation: apparition 1s backwards;
          animation: apparition 1s backwards;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.anim7 {
  -webkit-animation: apparition 1s backwards;
          animation: apparition 1s backwards;
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}

.anim8 {
  -webkit-animation: apparition 1s backwards;
          animation: apparition 1s backwards;
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.anim9 {
  -webkit-animation: apparition 1s backwards;
          animation: apparition 1s backwards;
  -webkit-animation-delay: 1350ms;
          animation-delay: 1350ms;
}

.anim10 {
  -webkit-animation: apparition 1s backwards;
          animation: apparition 1s backwards;
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

@-webkit-keyframes apparition {
  0% {
    -webkit-transform: translateY(4rem) scale(0.8);
            transform: translateY(4rem) scale(0.8);
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes apparition {
  0% {
    -webkit-transform: translateY(4rem) scale(0.8);
            transform: translateY(4rem) scale(0.8);
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/*Action lorsque l'on selectionne un plat sur la page resto */
input:checked + .label__conteneur .label__coche {
  width: 20%;
}

input:checked + .label__conteneur .label__coche::after {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 1;
}

input:checked + .label__conteneur .label__titre {
  width: 60%;
}
/*# sourceMappingURL=style.css.map */