/*Règles spécicfiques page d'accueil*/
.body{
    &__index{
        width: 100%;
        @include responsive(tab-port){
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            min-height: 100vh;
        }
        @include responsive(tab-land){
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
            align-content: stretch;
            min-height: 100vh;
        }
    }
}


/*Loader*/

.loader{
    animation: loader_opacity 3s forwards;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    font-family: 'Shrikhand', cursive;
    z-index: -1;
    &__assiette{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background: $colorbg1;
        box-shadow: inset 0.4rem -0.2rem 1rem 1rem rgba($color: rgb(0, 0, 0), $alpha: 0.2);
        &:after{
            content: '';
            position: absolute;
            top: -1rem;
            left: -1rem;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            border: rgb(255, 255, 255) 3px solid;
            box-shadow: $ombresoutenue;
            background: linear-gradient(0.25turn, $primaire, $tertiaire, $secondaire);
            z-index: -2;
            animation: loader_anim 3s;
        }
        &:before{
            content: '';
            position: absolute;
            top: 0rem;
            left: 0rem;
            bottom: 0rem;
            right: 0rem;
            border-radius: 50%;
            border: $blanc 10px solid;
            z-index: 0;
            opacity: 1;
            filter: blur(4px);
        }
        
    }
    &__txt{
        margin-top: 8rem;
        color: $primaire;
        background: $blanc;
        position: relative;
    }
    &__fork{
        position: absolute;
        display: flex;
        align-items: center;
        font-size: 8rem;
        margin-bottom: 9.5rem;
        z-index: -3;
        color: #303030;
        &FG{
            animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
            animation-iteration-count: 3;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
        }
        &FD{
            padding-right: 0.5rem;
            animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
            animation-iteration-count: 3;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
            animation-delay: 0.3s;
        }
    }
}

/*Header - Cacher la flèce retour à l'acceuil*/
.cache{
    display: none;
}

/*Style Formulaire page d'accueil*/
.conteneur-form{
    margin: 0;
    padding: 0 0 3rem 0;
    background: $colorbg1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include responsive(tab-port){
        order: 3;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem 0;
        justify-content: center;
        border-radius: 4rem 4rem 0 0;
    }
    @include responsive(tab-land){
        order: 3;
        width: 30%;
        flex-direction: column;
        padding: 3rem 0;
        justify-content: flex-start;
        border-radius: 4rem 0 0 0;
    }
    &__bloc-input{
        width: 100%;
        height: 3rem;
        background: #EAEAEA;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: flex-end;
        @include responsive(tab-port){
            order: 3;
            width: 50%;
            border-radius: 2rem;
            justify-content: flex-start;
        }
        @include responsive(tab-land){
            order: 1;
            width: 80%;
            border-radius: 2rem;
            justify-content: flex-start;
        }
        & label{
            display: flex;
            align-items: center;
            margin-right: 1rem;
            @include responsive(tab-port){
                padding-left: 1rem;
            }
            @include responsive(tab-land){
                padding-left: 1rem;
            }
        }
        &__input{
            width: 65%;
            border: none;
            background: #EAEAEA;
            outline: none;
            color: black;
            font-size: 1.2rem;
            @include responsive(tab-port){
                border-radius: 2rem;
            }
        }
    }
    & h2{
        padding-left: 3rem;
        padding-right: 3rem;
        margin-top: 2rem;
        margin-bottom: 0;
        @include responsive(tab-port){
            order: 1;
            width: 100%;
            margin-top: 0;
        }
        @include responsive(tab-land){
            order: 3;
            width: 100%;
            margin-top: 0;
        }
    }
    & p{
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 1rem;
        margin-bottom: 0;
        @include responsive(tab-port){
            order: 2;
            width: 100%;
            margin-bottom: 1rem;
        }
        @include responsive(tab-land){
            order: 4;
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    & button{
        margin-top: 2rem;
        @include responsive(tab-port){
            order: 4;
            margin-top: 0;
            margin-left: 2rem;
        }
        @include responsive(tab-land){
            order: 2;
            margin-top: 2rem;
            margin-bottom: 8rem;
        }
    }
}
/*Style Nav Fonctionnement*/
.fonctionnement{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 5%;
    padding-right: 5%;
    @include responsive(tab-port){
        order: 2;
        width: 100%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1rem 2rem;
    }
    @include responsive(tab-land){
        order: 2;
        align-self: flex-start;
        width: 100%;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 1rem 2rem;
    }
    & h2{
        margin-top: 2rem;
        margin-bottom: 0;
        align-self: flex-start;
        @include responsive(tab-port){
            margin-top: 0;
            width: 100%;
            text-align: center;
            margin-bottom: 1rem;
        }
        @include responsive(tab-land){
            margin-top: 0;
            width: 20%;
            align-self: center;
        }
    }
    &__btn{
        display: flex;
        align-items: center;
        background: $colorbg1;
        border-radius: 1.5rem;
        width: 97%;
        padding: 1.5rem 0;
        margin-top: 1rem;
        box-shadow: $ombreclaire;
        text-decoration: none;
        color: #000;
        @include responsive(tab-port){
            width: 30%;
            padding: 0 1rem 0 0;
            height: 3.5rem;
            text-align: center;
            margin-top: 0;
        }
        @include responsive(tab-land){
            width: 23%;
            padding: 0 1rem 0 0;
            height: 3.5rem;
            text-align: center;
            margin-top: 0;
        }
        &:hover{
            box-shadow: $ombresoutenue;
            background: #F5EDFF;
        }
        &--num{
            width: 1.5rem;
            height: 1.5rem;
            font-size: 0.9rem;
            background: $primaire;
            border-radius: 50%;
            color: $blanc;
            margin-left: -0.75rem;
            display: flex;
            justify-content: center;
            align-items: center;
            @include responsive(tab-port){
                margin-left: -0.5rem;
            }
        }
        &--icone{
            margin-left: 1.5rem;
            color: rgba($color: #000000, $alpha: 0.6)
            
        }
        &--texte{
            margin-left: 1.5rem;
            font-weight: 600;
        }
    }
}

/*Style Section Restaurant*/
.restaurants{
    position: relative;
    width: 100%;
    background: $colorbg1;
    margin-top: 4rem;
    padding: 5% 5%;
    @include responsive(tab-port){
        order: 4;
        width: 100%;
        margin-top: 0;
        padding: 0 1rem 1rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        flex: 1;
    }
    @include responsive(tab-land){
        order: 4;
        width: 70%;
        margin-top: 0;
        padding: 1rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        border-radius: 0 4rem 0 0;
    }
    & h2{
        @include responsive(tab-port){
            width: 100%;
            text-align: center;
        }
        @include responsive(tab-land){
            width: 100%;
            text-align: center;
        }
    }
    a{
        text-decoration: none;
        color: black;
    }
    &__card{
        margin: 1.3rem 0;
        position: relative;
        @include responsive(tab-port){
            width: 45%;
        }
        @include responsive(tab-land){
            width: 45%;
        }
        &__img{
            width: 100%;
            height: 11rem;
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
            @include responsive(tab-port){
                height: 15rem;
            }
            @include responsive(tab-land){
                height: 9rem;
            }
        }
        &__nouveau{
            font-size: 0.8rem;
            position: absolute;
            top: 1rem;
            right: 1rem;
            margin: 0;
            padding: 0.2rem 0.5rem;
            border-radius: 0.2rem;
            background: $tertiaire;
            color: darken($color: $tertiaire, $amount: 38);
        }
        &__caption{
            padding: 0 1.5rem;
            height: 4rem;
            background-color: $blanc;
            border-radius: 0 0 1rem 1rem;
            margin-top: -0.3rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            & h3{
                height: 35%;
            }
            & p{
                height: 50%;
            }
        }
    }
}