//---------------couleurs----------------

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;

//-----Taille de police de base----------

$base-font-size : 16px;

//-------Breakpoints Responsive----------

