//---------------couleurs----------------

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;

//-----Taille de police de base----------

$base-font-size: 16px;
$base-font-size-tab: 18px;
$base-font-size-medium: 20px;
$base-font-size-hd: 22px;
$base-font-size-4k: 30px;



