// Fonction qui renvoie une couleur plus claire au survol des boutons
@function light($color, $amount){
	$colorlight: lighten($color, $amount);
	@return $colorlight;
}

// Style boutons
button{
    border: none;
    border-radius: 2rem;
    background: linear-gradient(to bottom right, $secondaire, $primaire);
    color: $blanc;
    font-size: 0.9rem;
    padding: 1rem 1.2rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: $tempo1;
    &:hover{
        box-shadow: $ombresoutenue;
        transform: scale(1.05);
        transition: box-shadow $tempo1 ease, transform $tempo1 ease;
        background: linear-gradient(to bottom right, light($secondaire, 4%), light($primaire, 4%));
    }
}