button{
    border: none;
    border-radius: 2rem;
    background: linear-gradient(to bottom right, $secondaire, $primaire);
    color: white;
    font-size: 0.9rem;
    padding: 1rem 1.2rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    &:hover{
        box-shadow: 0 0.4rem 0.4rem rgba($color: #000000, $alpha: 0.2);
        transform: scale(1.1);
        transition: box-shadow 300ms ease, transform 300ms ease;
        background: linear-gradient(to bottom right, light($secondaire, 4%), light($primaire, 4%));
    }
}